.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}
swiper-container{
    width: 400px;
    height: 100%;
    background-color: #483d9b;
    border-radius: .25rem;
}
swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#fff;
    font-size: small;
}